:root{
    --white: #fff;
    --primary: #f59e0b;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "JetBrains Mono", monospace;
    background-image: url('/bg_clima.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--white);
    padding: 2rem;
}
